body{
    background-color: #f4fafa
}

#main{

height: 30%;
width: 500px;
border-radius: 1%;
margin: 10px auto;
margin-top: 1px;
margin-bottom: 5px;
padding: 10px;
overflow: auto;
text-align: center;
background:-webkit-linear-gradient(90deg,rgb(161, 216, 223),rgb(247, 247, 240));

transition:all 5s ease-in-out;
display: flex;
justify-content:center;
align-items:center;
flex-direction: row;

text-align: center;
min-height: 10vh;
color: rgb(116, 31, 116);
font-family: 'Courier New', Courier, monospace;



}
h3{
align-items: center;
color: rgb(182 31 128);
font-size: 30px;
}
.head{
background-color: rgb(48, 93, 160);
color: white;
height: 40px;
font-weight: 500;
font-size: 18px;

}
input[type="button"]{
width: 220px;
height: 55px;
border:3px solid rgb(106, 106, 148);
border-radius: 5%;
font-size: 22px;
font-family: 'Courier New', Courier, monospace;
font-weight: 600;
background:-webkit-linear-gradient(90deg,rgb(180 199 232),rgb(230, 230, 222));
color:rgb(182 31 128);
align-items: center;
margin: 15px;
padding: 3px;

}
input[type="button"]:active{
transform: scale(0.8);
}
input[type="button"]:hover{
transform: scale(1.1);
}
table{
width: 1140px;
border-left: 2px solid black;
text-align: center;

}
tr{
width: 750px;
border-top: 2px solid black;
}
td{
width:12%;
border-right: 2px solid black;
border-top: 2px solid black;
border-bottom: 2px solid black;

}